.notice {
  color: white;
  background-color: #31C6D4;
  position: relative;
  padding: 1rem 1rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}
.alert {
  color: white;
  background-color: red;
}
