<p>「Study Diary」にご登録いただきありがとうございます。</p>

<p>---------------------------------------------</p>

<p>【ご登録のメールアドレス】</p>
<p><%= @email %></p>

<p>---------------------------------------------</p>

以下のURLをクリックして、登録完了・ログインしてください。
<!--<p><%#= link_to '登録を完了する', confirmation_url(@resource, confirmation_token: @token) %></p>-->
