//@import "bootstrap-sprockets";
//gemで導入しているbootstrapは3系で古いので、現状はcdnでの導入に切り替えています
//@import "bootstrap";
@import 'public/top_page';
@import 'public/header';
@import 'public/flash';
@import 'public/learning_diary';

* {
  margin: 0;
  padding: 0;
  color: #4f5050;
}

body {
  background-color: #f7f7fc;
}

p {
  margin: 0;
}
.btn-navy {
  background-color: #007394;
  color: white;
}

.text-right {
  text-align: right;
}

.js-open, .js-close {
  cursor: pointer;
}
.images_box {
  display: flex;
  margin: 24px 54px 24px 45px;
  gap: 54px;
}

.modal-window {
  display: none;
  position: fixed;
  z-index: 11;
  width: 100%;
  transform: translate(-50%, -50%);
  background-color: #FFF;
  border-radius: 20px;
  top: 50%;
  left: 50%;
  @media screen and (min-width: 768px) {
    width: 700px;
  }
}

.image_box {
  padding: 5px;
  position: relative;
}

.modal_text {
  margin-top: 5px;
  font-size: 14px;
  line-height: 16px;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.5;
  background-color: #505050;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.no_scroll {
  overflow: hidden;
}

.modal-block {
  display: block;
}

.white_box {
  background-color: white;
}

.study_plan_modal {
  display: none;
  padding: 15px;
  position: fixed;
  z-index: 11;
  width: 100%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  top: 50%;
  left: 50%;
  @media screen and (min-width: 768px) {
    width: 700px;
    padding: 5px;
  }
}

.show_study_plan_modal {
  display: block;
}


.study_plan_modal {
  .study_plan_form_box {
    padding: 15px;
    @media screen and (min-width: 768px) {
      padding: 50px;
    }
  }

  .plan_modal_header {
    font-size: 15px;
    margin-bottom: 10px;
    @media screen and (min-width: 768px) {
      font-size: 25px;
      margin-bottom: 15px;
    }
  }

  .form-group {
    margin-bottom: 5px;
    @media screen and (min-width: 768px) {
      margin-bottom: 15px;
    }

    .plan_modal_title {
      font-size: 13px;
      color: #999999;
      @media screen and (min-width: 768px) {
        font-size: 20px;
      }
    }
  }
}
